---

import LayoutPage from "../../layouts/LayoutPage.astro";
import listProducts from "../../store/productos.json";

export function getStaticPaths() {
    return listProducts.map(prod => ({
        params: { product: prod.name }
    }));
}


const { product } = Astro.params;

---

<LayoutPage title={`${product}`}>
    <div>
        <h1>{product}</h1>
    </div>
</LayoutPage>
