---

import LayoutPage from "../../layouts/LayoutPage.astro";
import { productos } from "../../store/productos"

export function getStaticPaths() {
    return productos.map(prod => ({
        params: { product: prod.name }
    }));
}


const { product } = Astro.params;

---

<LayoutPage title={`${product}`}>
    <div>
        <h1>{product}</h1>
    </div>
</LayoutPage>
