---
import LayoutPage from '../../layouts/LayoutPage.astro';
import FilterListProduct from '../../components/tsx/FilterListProduct'
import { industrias } from '../../store/industrias';
import { productos } from "../../store/productos"

export const prerender = true

export function getStaticPaths() {
  return industrias.map(industria => ({
    params: {industry: industria.link}
  }))
}
const { industry } = Astro.params
const linkIndustry = industrias.filter((indus) => indus.link === industry)[0].name
const filterProducts = productos.filter(product => product.industry.includes(linkIndustry))

---
<LayoutPage title={`Sector ${industry} - Fainox Group`}>
  <section class="flex flex-col w-full h-auto px-0 md:px-10 mt-24">
    <h1 class="text-center text-colorBlue text-2xl lg:text-3xl xl:text-5xl font-bold">{linkIndustry}</h1>
    <FilterListProduct industry={linkIndustry} filterProducts={filterProducts} client:load/>
</section>

</LayoutPage>