---
import LayoutPage from '../../layouts/LayoutPage.astro';
import FilterListProduct from '../../components/tsx/FilterListProduct'
import { industrias } from '../../store/industrias';
import { productos } from "../../store/productos"

export function getStaticPaths() {
  return industrias.map(industria => ({
    params: {industry: industria.name}
  }))
}
const { industry } = Astro.params
const filterProducts = productos.filter(product => product.industry.includes(industry))

---
<LayoutPage title={`Sector ${industry} - Fainox Group`}>
  <section class="flex flex-col w-full h-auto px-10">
    <h1 class="text-center text-colorBlue text-5xl font-bold">Industria - {industry}</h1>
    <FilterListProduct industry={industry} filterProducts={filterProducts} client:load/>
</section>

</LayoutPage>