---
import LayoutPage from '../../layouts/LayoutPage.astro';
import { productos } from '../../store/typeProductos';


export function getStaticPaths() {
  return productos.map(producto => ({
    params: {category: producto}
  }))
}
const { category } = Astro.params
---

<LayoutPage title="Welcome to Astro.">
  <p>Productos de {category}</p>
</LayoutPage>