---
import LayoutPage from "../../layouts/LayoutPage.astro";
import { productos } from "../../store/typeProductos";
import { capitalize } from "../../utils/capitalize";
import { Image } from "astro:assets";

const imagesProducts = [
  "/products/7.webp",
  "/products/8.webp",
  "/products/15.webp",
  "/products/17.webp",
  "/products/18.webp",
  "/products/34-485.webp",
];
---

<LayoutPage title="Productos Fainox Group SAS">
  <section class="px-10 md:px-20 md:py-20">
    <h1 class="text-colorBlue text-center text-xl mb-4">
      <span class="font-bold text-2xl">Fainox Grupo SAS</span> cuenta con una amplia categoria
      de productos
    </h1>

    <div class="flex flex-col xl:flex-row w-full items-center justify-between">
      <ul class="w-full xl:w-[60%] my-10 h-auto grid grid-cols-2 lg:grid-cols-3 gap-5">
        {
          productos.map((producto) => (
            <li>
              <a
                class="text-sm md:text-lg relative text-gray-600 hover:text-white before:content-[''] before:absolute before:-left-4 before:top-2
                  before:w-2 before:h-2 hover:before:h-6 before:rounded-full before:bg-colorBlue before:transition-all
                  before:duration-300 hover:before:w-[calc(100%+15px)] before:z-[-1] hover:before:-left-2 hover:before:top-0"
                href={`/productos/${producto}`}
              >
                {capitalize(producto)}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="w-[450px] h-[450px] overflow-hidden">
        {
          imagesProducts.map((image, index) => (
            <Image
              class={`rounded-md shadow-box-black object-cover w-full h-full image images brightness-75`}
              id="mixImage"
              width="450"
              height="450"
              src={image}
              alt={`imageProduct${index}`}
            />
          ))
        }
      </div>
    </div>
  </section>
</LayoutPage>

<script>
  const images = document.querySelectorAll(".image");
  let currentIndex = 0;

  const changeImageVisibility = () => {
    images.forEach((image, index) => {
      if (index === currentIndex) {
        image.classList.remove("hidden");
        image.classList.add("fade-in");
      } else {
        image.classList.remove("fade-in");
        image.classList.add("hidden");
      }
    });

    currentIndex = (currentIndex + 1) % images.length;
  };

  changeImageVisibility();

  setInterval(() => {
    changeImageVisibility();
  }, 5000);
</script>
