---
import LayoutPage from "../layouts/LayoutPage.astro";
---

<LayoutPage title="Fainox Group SAS">
  <section class="flex flex-col lg:flex-row justify-around px-4 md:px-20 py-10 md:py-40 gap-5 md:gap-0">
    <div class="flex flex-col gap-4">
      <h2 class="text-colorBlue text-5xl font-bold">Oops!</h2>
      <h1 class="text-colorBlue text-2xl font-medium">
        Lo sentimos, no pudimos encontrar la página que buscas
      </h1>
      <p>
        <a href="/" class="underline-offset-4 hover:underline text-colorBlue">
            Ve a la página principal
        </a> o <a href="/industriasyservicios" class="underline-offset-4 hover:underline text-colorBlue"
          >Conoce nuestras industrias</a>
      </p>
    </div>
    <div class="text-colorBlue">
      <p class="text-9xl">404</p>
      <p class="text-2xl">Página no encontrada</p>
    </div>
  </section>
</LayoutPage>
