---
import LayoutPage from '../layouts/LayoutPage.astro';
import Offices from '../components/tsx/Ofices';
---

<LayoutPage title="Cotizacion y Contacto">
    <section class="py-20">
        <Offices client:load />
    </section>
</LayoutPage>
