---
import LayoutPage from '../layouts/LayoutPage.astro';
import Offices from '../components/tsx/Ofices';
---

<LayoutPage title="Cotizacion y Contacto">
    <section>
        <Offices client:load />
    </section>
    
</LayoutPage>
