---
import LayoutPage from '../layouts/LayoutPage.astro';
---

<LayoutPage title="Cotizacion y Contacto">
    <section class="w-full flex flex-row">
        <div class="w-[50%] flex flex-col justify-center items-center gap-10">
            <div class="w-[70%] h-auto p-10 border-2 border-blue-800 rounded-xl shadow-slate-900">
                <h3 class="">Oficina Principal</h3>
                <p>Ciudad o Municipio</p>
                <p>Telefono: +57 319 488546</p>
                <p>Supervisor: Manu Rodriguez</p>
                <p>Direccion: Calle 34 # 12 - 12 </p>
            </div>

            <div class="w-[70%] h-auto p-10 border-2 border-blue-800 rounded-xl shadow-slate-900">
                <h3>Oficina Principal</h3>
                <p>Ciudad o Municipio</p>
                <p>Telefono: +57 319 488546</p>
                <p>Supervisor: Manu Rodriguez</p>
                <p>Direccion: Calle 34 # 12 - 12 </p>
            </div>

            <div class="w-[70%] h-auto p-10 border-2 border-blue-800 rounded-xl shadow-slate-900">
                <h3>Oficina Principal</h3>
                <p>Ciudad o Municipio</p>
                <p>Telefono: +57 319 488546</p>
                <p>Supervisor: Manu Rodriguez</p>
                <p>Direccion: Calle 34 # 12 - 12 </p>
            </div>
        </div>
        <div class="w-[50%]"></div>
    </section>
</LayoutPage>