---
import { Image } from "astro:assets";
import LayoutPage from "../layouts/LayoutPage.astro";
const novedades = [
  {
    title: "Tanque para Proceso Alimentario - Automático - Flor de Aragua",
    description:
      "Equipo diseñado para producción de 1.000L útiles  provisto de Doble Camisa y Aislamiento, Sistema de Agitación Lenta y Emulsificador de alto cizallamiento. Sistema de Autolavado (CIP) Conexión de Tubería para Cargue y Descargue ,Sistema de Control de Llenado y Vaciado controlado con Celdas de Carga ,Todo el sistema controlado y operado desde un PLC con una HMI con recetas por tiempo de preparación, agitación y peso. Provisto de Bomba Positiva de tipo Sinusoidal, Válvulas de Control, Etc. Material : AISI 304",
    image: "/innovations/Desarrollo y Novedades 1.webp",
  },
  {
    title: "Marmita para Fabricación de Derivados Lácteo - Prolac",
    description:
      "Equipo para preparación de tipo manual con sistema de combustión a gas mediante quemadores, sistema de volteo, con capacidad para 200kl con sistema de agitación incorporado.",
    image: "/innovations/Desarrollo y Novedades 3.webp",
  },
  {
    title: "Marmitas de Fabricación Alimentarias",
    description:
      "Equipos con capacidad para 1.000Lt útiles, provistos de Agitación, Camisa Dimple  para Doble Propósito, Tablero de Control, Conexión para Servicios Industriales. Material: AISI 304",
    image: "/innovations/Desarrollo y Novedades 2.webp",
  },
  {
    title: "CIP Central - Dejamu Subachoque",
    description:
      "Equipo totalmente automático diseñado para el lavado de Marmitas de Proceso, Silos para Leche y Líneas de Tubería. Cuatro tanques con Agitación, Sistema de Calentamiento, Válvulas Automáticas, Bombas de Impulso, Bombas Dosificadoras de Sosa y Ácido. Pantalla Táctil,PLC ,HMI Delta control desde tablero y remoto para interior de planta.",
    image: "/innovations/Desarrollo y Novedades 4.webp",
  },
  {
    title: "Intercambiador de Calor - Distribuidora Biotech",
    description:
      "Equipo fabricado para el enfriamiento de Salsas. Material : AISI 304",
    image: "/innovations/Desarrollo y Novedades 5.webp",
  },
];
---

<LayoutPage title="Novedades Fainox">
  <section
    class="w-full h-auto flex flex-col justify-center items-center py-16 md:py-20 lg:pt-36"
  >
    <h1
      class="w-[80%] md:w-[70%] text-center text-colorBlue font-semibold md:leading-7 lg:leading-10 text-2xl lg:text-4xl"
    >
      En Fainox Group ofrecemos soluciones y equipos integrados para los
      procesos de la industria de alimentos, lácteos y afines.
    </h1>
    <!-- <p class="w-[80%] md:w-[50%] text-base md:text-lg text-center text-gray-500 py-10">
      Desde 2012, Fainox Group se ha comprometido a desarrollar soluciones
      innovadoras que impacten positivamente en la vida de las personas. Con un
      enfoque en la colaboración, trabajamos de la mano con diversas compañías y
      organizaciones para crear nuevos productos que rompan fronteras y mejoren
      la calidad de vida. Juntos, buscamos transformar el futuro y hacer una
      diferencia significativa en la sociedad.
    </p> -->
    <div
      class="flex flex-wrap justify-center items-start gap-20 py-10 lg:py-16"
    >
      {
        novedades.map(({ title, description, image }) => (
          <div class="w-[320px] md:w-[400px] h-auto">
            <Image
              class="object-cover w-full h-[250px] md:h-[300px] rounded-xl"
              width={300}
              height={300}
              src={image}
              alt={title}
            />
            <h2 class="text-colorBlue py-5 text-xl text-center">{title}</h2>
            <p class="text-gray-500 text-sm text-center">{description}</p>
          </div>
        ))
      }
    </div>

    <div class="w-full flex flex-col justify-center items-center"></div>
  </section>
</LayoutPage>
