---
import { productosUsados } from "../store/productosUsados";
import LayoutPage from "../layouts/LayoutPage.astro";
import type { Product } from "../store/types/product";
import ProductForLists from "../components/tsx/ProductForLists";
import FormContact from "../components/tsx/FormContact";
---

<LayoutPage title="Oportunidades de compra con Fainox">
  <section class="w-full flex flex-col justify-center py-10 md:py-20">
    <h1
      id="button-form"
      class="text-white text-2xl text-center font-semibold border-2 bg-colorBlue border-white px-6 py-2
      rounded-lg shadow-box-black transition-all duration-200 cursor-pointer hover:scale-105">
      Alguien necesita lo que tu ya no usas, da clic para vender tu producto!
    </h1>
    <div class="h-full flex flex-col justify-center items-center">
      <FormContact pay={true} client:load/>
    </div>
    {
      productosUsados.length > 0 &&
      <div class="w-full flex flex-col md:flex-row justify-center items-center md:justify-around">  
        <p class="text-colorBlue text-center text-xl font-semibold">Productos usados de excelente calidad</p>
        <p class="text-gray-500 text-lg">Productos encontrados: {productosUsados.length}</p>
      </div>
      
      <div class="flex flex-wrap gap-6 justify-center items-center mt-5 md:p-10">
        {
          productosUsados.map((product: Product) => (
            <ProductForLists {...product} client:load />
          ))
        }
      </div>
    }
</section>
</LayoutPage>

<script>
  const button = document.getElementById('button-form')
  const form = document.getElementById('form')
  if (button && form) {
    button.addEventListener('click', () => {
      if (form?.classList.contains('noseeFormseeForm')) {
        form.classList.remove('seeForm')
        form.classList.add('')
      } else {
        form.classList.remove('noseeForm')
        form.classList.add('seeForm')
      }
    })
  }
</script>
