<section class="w-full h-auto flex flex-col gap-40 mb-20 mt-20">

  <div class="w-full h-auto flex flex-col-reverse lg:flex-row mt-12 px-5 md:px-16 lg:px-32 justify-between items-center">
    <div class="w-full lg:w-[60%] seeContent">
      <h2 class="font-bold text-xl lg:text-2xl xl:text-5xl text-colorBlue mb-4 md:mb-10">
        Quienes Somos
      </h2>
      <p
        class="text-balance text-xs md:text-sm lg:text-base xl:text-md whitespace-normal text-justify tracking-wide leading-5 md:leading-6 lg:leading-8"
      >
        <strong>FAINOX GROUP SAS</strong> empresa colombiana fundada en 2012, nace
        como producto de la fusión de dos grandes compañías con mas de 25 años de
        trayectoria en el suministro de: Equipos, Desarrollos, Componentes y Servicios
        para las industrias Alimentarias, Lácteas, de Bebidas y Farmacéuticas; La
        experiencia de sus socios fundadores, colaboradores y Aliados TECNICOS le
        han permitido en el transcurso de estos años aportar Soluciones con Tecnología
        de vanguardia a empresas nacionales y extranjeras en países como PANAMA,
        VENEZUELA, ECUADOR, PERU entre otros del continente Nuestra experiencia y
        conocimiento de los diferentes procesos de producción en nuestros sectores
        de interés; así como la de nuestros aliados y representados nos permiten
        ser un aliando confiable para el desarrollo y suministro de proyectos de
        implementación, innovación y desarrollo,asi mismo contamos con el conocimiento
        de las normativas exigibles en este tipo de plantas de proceso alimentario.
      </p>
    </div>
    <div class="w-[80%] lg:w-[33%] h-auto flex justify-center items-center md:showImage mb-4">
      <img
        class="w-auto h-[300px] md:h-[400px] rounded-round-image1"
        src="/images/logogris.webp"
        alt="Fainox Group - Quienes Somos"
      />
    </div>
  </div>

  <div
    class="w-full h-auto flex flex-col lg:flex-row justify-between items-center bg-custom-blue px-6 py-20 md:p-20">
    <div class="w-[80%] lg:w-[33%] h-auto showImage2">
      <img
        class="w-full h-[300px] md:h-[600px] object-cover rounded-round-image2"
        src="/images/que-proponemos.webp"
        alt="Fainox Group - Quienes Somos"
      />
    </div>

    <div class="w-full lg:w-[60%] seeContent text-white">
      <h2 class="font-bold text-xl lg:text-2xl xl:text-5xl text-white mb-4 md:mb-10">Que Proponemos</h2>
      <p
        class="text-balance text-xs md:text-sm lg:text-base xl:text-md whitespace-normal text-justify tracking-wide leading-5 md:leading-6 lg:leading-10"
      >
        Nuestra propuesta consiste en aportar desde la experiencia alternativas
        y soluciones acordes a la necesidad y presupuesto de nuestros clientes
        teniendo en consideración valores como: La Calidad, Respaldo de Marca,
        Cumplimiento de Normatividad y Costo de beneficio. La política
        multimarca de <strong>FAINOX GROUP SAS</strong> nos permite actuar con libertad
        y sin condicionamientos de uno u otro interés, Mas que la búsqueda de una
        solución para nuestro cliente con mejores beneficios para nuestro usuario
        quienes son nuestra razón de ser Nuestro propósito es el de ser Altamente
        Éticos, Diligentes y Honestos con nuestros clientes y los requerimientos
        recibidos desde ellos procurando hallar la solución mas acorde a su nivel
        técnico y presupuestal.
      </p>
    </div>
  </div>

  <div class="w-full h-auto flex flex-col-reverse lg:flex-row md:mt-12 px-5 md:px-16 lg:px-32 justify-between items-center">
    <div class="w-full lg:w-[60%] p-6 md:px-0 seeContent text-justify">
      <h2 class="font-bold text-xl lg:text-2xl xl:text-5xl text-colorBlue mb-4 md:mb-10">
        Como lo Hacemos
      </h2>
      <p
        class="text-base md:text-base xl:text-lg text-black font-bold whitespace-normal tracking-wide leading-7 md:leading-6 lg:leading-10 mb-6"
      >
        Nuestra amplia experiencia y la de nuestros aliados nos permite
        presentar diferentes formas de plantear nuestras propuestas
        técnicas-comerciales.
      </p>
      <ul class="list-disc flex flex-col gap-3 text-sm md:text-md xl:text-base">
        <li>
          Desarrollo de equipos de fabricación nacional con altos estándares de
          calidad basados en nuestra experiencia adquirida al lado de grandes
          marcas
        </li>
        <li>
          Representamos Marcas extranjeras Fabricantes de Equipamientos de
          Proceso con altos estándares de calidad, tecnología de Punta y con el
          cumplimiento de Normativas internacionales para procesos de producción
          alimentaria como CE, A3, EHDG, FDA, CETIM entre otras.
        </li>
        <li>
          Suministramos líneas de proceso o producción completas integradas por
          Equipamientos desde nuestros Representados en el Exterior,
          Complementando con Desarrollos Locales propios, incluyendo Mano de
          Obra de Instalación en Situ con personal local, con garantías de Post
          venta, Repuestos y Asistencia desde nosotros como subsidiarios de la
          marca.
        </li>
        <li>
          Facilitamos la COMPRA-VENTA de Equipos de Proceso. Maquinaria,
          Depósitos. Etc en buen estado través de su publicación en nuestro
          sitio WEB ; colaborando así con la Rotación de Inventarios de nuestros
          clientes y la recuperación de un lucro secante
        </li>
      </ul>
    </div>

    <div class="w-[80%] lg:w-[35%] h-auto showImage">
      <img
        class="w-full h-[300px] md:h-[600px] object-cover rounded-round-image3"
        src="/images/como.webp"
        alt="Fainox Group - Quienes Somos"
      />
    </div>
  </div>
</section>
