---
import { industrias } from "../store/industrias";
---

<div
  class="hidden group-hover:lg:block absolute top-12 -left-[150px] w-[400px] text-base border-2
    border-gray-300 rounded-lg p-2 bg-white font-medium shadow-box-black"
>
  {
    industrias.map((industria) => {
      if (industria.type === "link") {
        return (
          <a
            href={`/sectores-industriales/${industria.link}`}
            class="cursor-pointer flex flex-row items-center gap-6 my-2 px-6 py-2 hover:bg-gray-100 rounded-lg"
          >
            <p>{industria.name}</p>
          </a>
        )
      } else {
        return (
          <details>
            <summary class="cursor-pointer flex flex-row items-center gap-6 my-2 px-6 py-2 hover:bg-gray-100 rounded-lg">{industria.name}</summary>
            <ul>
              <li>
                <a class="before:w-2 before:h-2 before:bg-colorBlue before:rounded-full cursor-pointer flex flex-row items-center gap-6 my-2 px-6 py-2 hover:bg-gray-100 rounded-lg" href="#">Automatizacion</a>
              </li>
              <li>
                <a class="before:w-2 before:h-2 before:bg-colorBlue before:rounded-full cursor-pointer flex flex-row items-center gap-6 my-2 px-6 py-2 hover:bg-gray-100 rounded-lg" href="#">Proyectos</a>
              </li>
              <li>
                <a class="before:w-2 before:h-2 before:bg-colorBlue before:rounded-full cursor-pointer flex flex-row items-center gap-6 my-2 px-6 py-2 hover:bg-gray-100 rounded-lg" href="#">Servicios</a>
              </li>
              <li>
                <a class="before:w-2 before:h-2 before:bg-colorBlue before:rounded-full cursor-pointer flex flex-row items-center gap-6 my-2 px-6 py-2 hover:bg-gray-100 rounded-lg" href="#">Productos</a>
              </li>
            </ul>
          </details>
        )
      }
    }
    )
  }
</div>
