---
import HoverLinkIndustrias from "./hoverLinkIndustrias.astro";
import HoverLinkProductos from "./hoverLinkProductos.astro";

const { link, name } = Astro.props;
---

<li
  class="group relative"
  >
  <a
    href={`/${link}`}
    class="flex flex-row justify-center gap-2 items-center text-sm lg:text-base xl:text-lg text-colorBlue font-bold py-4" aria-keyshortcuts={link}>
    <p class="text-center">
      {name}
    </p>
    {
      (link === "industriasyservicios" || link === "productos")
      &&
      <span class="arrow group-hover:rotate-195 group-hover:left-6 group-hover:top-1"></span>
    }
  </a>
  {
    link === "industriasyservicios"
    &&
    <HoverLinkIndustrias />
  }
    {
      link === "productos"
      &&
      <HoverLinkProductos />
    }
</li>
