---
import Nav from "../icons/nav.astro";
import CloseNav from "../icons/closeNav.astro";
import Link from "./link.astro";
import NavMovil from "./navMovil.astro";

const links = [
  {
    name: "Nosotros",
    link: "",
    typeLink: true
  },
  {
    name: "Nuestras Soluciones",
    link: "nuestras-soluciones",
    typeLink: true
  },
  {
    name: "Servicios Industriales",
    link: "servicios-industriales",
    typeLink: true
  },
  {
    name: "Trabaje con Nosotros",
    link: "trabaje-con-nosotros",
    typeLink: true
  },
  {
    name: "Desarrollos & Novedades",
    link: "desarrollosynovedades",
    typeLink: true
  },
  {
    name: "Contacto",
    link: "contacto",
    typeLink: true
  },
  {
    name: "Cotización",
    link: "cotizacion",
    typeLink: true
  },
];
---

<header
  class="fixed top-0 bg-white z-50 w-[98%] md:w-full flex flex-row justify-between items-center px-0 md:px-10 pt-3 transition-all duration-150"
>
  <a href="/">
    <img
      id="header-image"
      class="h-14 xl:h-16 transition-all duration-150"
      src="/images/logo.png"
      alt="Icono Fainox"
    />
  </a>

  <nav class="hidden lg:block">
    <ul class="flex flex-row gap-3 lg:gap-4 xl:gap-8">
      {links.map((link) => <Link link={link.link} name={link.name} typeLink={link.typeLink} />)}
    </ul>
  </nav>

  {/* Nav movil */}
  <button id="open-nav" class="fixed top-6 right-4 lg:hidden pr-2">
    <Nav />
  </button>
  <nav
    id="phone-nav"
    class="fixed w-[320px] transform translate-x-full transition-transform duration-300 h-screen bg-gray-100 right-0 top-0"
  >
    <button id="close-nav" class="fixed right-4 top-4">
      <CloseNav />
    </button>

    <NavMovil />

  </nav>
</header>

<script>
  const openNav = document.getElementById("open-nav");
  const closeNav = document.getElementById("close-nav");
  const contNav = document.getElementById("phone-nav");

  openNav?.addEventListener("click", () => {
    contNav?.classList.add("translate-x-0"); // Alterna entre translate-x-0 y translate-x-full
    contNav?.classList.remove("translate-x-full"); // Alterna entre translate-x-0 y translate-x-full
  });

  closeNav?.addEventListener("click", () => {
    contNav?.classList.add("translate-x-full"); // Alterna entre translate-x-0 y translate-x-full
    contNav?.classList.remove("translate-x-0"); // Alterna entre translate-x-0 y translate-x-full
  });
</script>
